<table>
        <tr>
            <th> Player Name </th>
            <th> Jersey Number </th>
            <% if logged_in? && current_user.admin? || logged_in? && current_user.coach? %>
                <th> Phone Number </th>
                <th> Email </th>
                <th></th>
            <% end %>
        </tr>
            
        <% team.players.each do |p| %>
            <% if p.id != nil %>
            <tr>
                <td><%= p.name %></td>
                <td><%= p.jersey_number %></td>
                <% if logged_in? && current_user.admin? || logged_in? && current_user.coach? %>
                    <td><%= p.phone_number %></td>
                    <td><%= p.email %></td>
                    <td><%= link_to "edit", edit_team_player_path(p.team_id, p) %></td>
                <% end %>
            </tr>
            <% end %>
        <% end %>
</table>