<h1><%= @team.name %></h1>
<div id="coach-info">
    <% if @team.coach_id != 5 %>
        <div id="coach-contact-box">
            <strong>Coach <%= @team.coach.last_name %> Contact info</strong>
            <p id="coach-info-box">
            <%= render partial: "coaches/coach", locals: {coach: @team.coach} %>
            </p>
        </div><br>
    <% else %>
        <strong>Coach: <%= @team.coach.name %></strong>
    <% end %>
</div>
<% if logged_in? && current_user.admin? %>
    <%= render partial: "coach_assignment", locals: {team: @team} %>
<% end %>  

<%= render partial: "match_display", locals: {team: @team} %>

<h2>Roster:</h2>
<% if @team.players.count > 0 %>
    <%= render partial: "roster_table", locals: {team: @team} %>
<% else %>
    <h3>There are no players in this team yet</h3>
<% end %>


<% if logged_in? && current_user.admin? || logged_in? && current_user.coach? %>
    <h3> Add a New player </h3>
    <%= form_for(@player, url: team_players_path(@player.team_id, @player)) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :jersey_number %>
        <%= f.text_field :jersey_number %><br>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %><br>
        <%= f.submit %>
    <% end %>
<% end %>

<% if logged_in? && current_user.admin? %>
    <%= link_to "Delete this team", team_path(@team), :method => 'delete' %>
<% end %>