<h2>Administrator Options:</h2>
        <h4>Add competition to this season:</h4>
        <%= form_for season, url: {action: 'update'} do |f| %>
            <%= f.collection_check_boxes(:competition_ids, Competition.all, :id, :name) %>
            <%= f.submit %>
        <% end %>
        <br><br>
        <%= link_to "Create and add a new competition to this season", new_competition_path %>
        <br><br>
        <%= form_for season, method: :delete do |f| %>
            <%= f.submit "Delete Season" %>
        <% end %>