<h1>Select A Season</h1>
<ul>
    <% @seasons.each do |s| %>
        <li><%= link_to "#{s.year}", season_path(s) %></li>
    <% end %>
</ul>
<br><br>
<%= link_to "Create A New Season", new_season_path %>
<br><br>
<% if logged_in? && current_user.admin? %>
    <%= link_to "Back to HomePage", administrator_path(current_user.id) %>
<% elsif logged_in? && current_user.referee? %>
    <%= link_to "Back to Homepage", referee_path(current_user.id) %>
<% elsif logged_in? && current_user.coach? %>
    <%= link_to "Back to Homepage", coach_path(current_user.id) %>
<% end %>