<h1> Create a New Season </h1>

    <%= form_for(@season) do |f| %>
        <%= f.label "Please enter the year of the season you would like to create:" %>
        <%= f.text_field :year %><br>
            <% if !@season.competition_ids.empty? %>
                <%= f.label "Select competitions to add to this season:" %>
                <%= f.collection_check_boxes(:competition_ids, Competition.all, :id, :name) %>
            <% end %>
            <%= f.fields_for :competitions do |comps| %>
                <%= comps.label "Create a new competition:" %>
                <%= comps.text_field :name %><br>
             <% end %>

        <%= f.submit %>
    <% end %>