<div id="login-box">
    <h3>Login</h3>
    <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email, :placeholder => "Email Address" %><br>
        <%= f.label :password %>
        <%= f.password_field :password, :placeholder => "Enter Password" %><br>
        <%= f.submit "Login" %>
    <% end %>
</div>