<h2>Add Or Create A New Competition</h2>

<%= form_for(@season, :url => {:action => "update"}) do |f| %>
    <%= f.fields_for :competition do |comp| %>
        <%= comp.label "Competition Name:" %>
        <%= comp.text_field :name %><br>
        <%= f.submit %>
    <% end %>
<% end %>