<h1>The <%=@comp.season.year %> - <%= @comp.name %> </h1>
<br>
    <% if logged_in? && current_user.admin? %>
        <h3><%= link_to "Add Matches to this Competition", new_competition_match_path(@comp) %></h3>
    <% end %>
    <% @comp.matches.each do |c| %>
        <div id="match-display">
            <%= c.date %>  <%= c.time %>  <br>
            <%= c.teams[0].name %> vs. <%= c.teams[1].name %><br>
            <%= link_to c.location.name, location_path(c.location) %> <%= c.location_notes %><br><br>
            <%= link_to "Edit This Match", edit_competition_match_path(c.competition_id, c) %>
        </div><br>
    <% end %>
