<h1>The <%=@comp.season.year %> - <%= @comp.name %> </h1>
<br>
    <% if @comp.matches.empty? %>
        <h3>There are no matches for this competition. Create a schedule and matches:</h3>
        <%= form_for(@comp) do |f| %>
            <%= f.fields_for :matches do |match| %>
                <%= match.label "Match Date:" %>
                <%= match.text_field :date %><br>

                
            <% end %>
            <%= f.submit %>
        <% end %>
    <% end %>