<h1>The <%=@comp.season.year %> - <%= @comp.name %> </h1>
<br>
    <% if @comp.matches.empty? %>
        <h3><%= link_to "Create A New Schedule/Matches", new_competition_match_path(@comp) %></h3>
    <% else %>
        
        <% @comp.matches.each do |c| %>
            <div><%= c.date %> - <%= c.location.name %> <br>
                <%= c.location_notes %></div>
        <% end %>
    <% end %>