<h1>Coach <%= @coach.last_name %> Page</h1>


<div id="coach-contact-box">
    <strong>Coach <%= @coach.last_name %> Contact info</strong>
    
    <% if current_user.admin? || current_user.coach? && current_user.id == @coach.id %>
        <%= render 'coach' %>
        <%= link_to "Edit", edit_coach_path(@coach) %>
    <% end %>
</div><br>

<% if @coach.teams.empty? %>
    <strong>You Currently Don't Have Any Teams</strong><br>
    <strong>Please contact league administrator to have teams assigned</strong>
<% else %>
    <strong>Coach <%= @coach.last_name %>, Coaches These Teams </strong %><br>
    <ul>
        <% @coach.teams.each do |t| %>
            <li><%= link_to "#{t.name}", team_path(t) %><br></li>
        <% end %>
    </ul>
<% end %>

        