<h1>Coach <%= @coach.last_name %> Page</h1>

<% if flash[:error] %>
    <div class="error_explanation">
        <%= flash[:error] %>
    </div>
<% end %>

<div class="col-2-wide">
    <h3>Teams without Coaches:</h3>
    <ul>
        <% @unassigned_teams.each do |t| %>
            <li><%= link_to "#{t.name}", team_path(t) %></li>
        <% end %><br>
    </ul>
    <h3>All Coaches: </h3>
        <ul>
            <% @coaches.each do |c| %>
                <% if c.id != 5 %>
                    <li> <%= link_to c.name, coach_path(c) %> - <%= c.email %> - <%= c.phone_number %></li>
                <% end %>
            <% end %>
        </ul>

</div>

<div class="col-1-narrow">
   
        <strong>Coach <%= @coach.last_name %> Contact info:</strong><br>
            <%= render partial: "coach", locals: {coach: @coach} %>
        <% if current_user.admin? || current_user.coach? && current_user.id == @coach.id %>
            <%= link_to "Edit", edit_coach_path(@coach) %><br>
        <% end %>

    <% if @coach.teams.empty? %>
        <strong>You Currently Don't Have Any Teams</strong><br>
        <strong>Please contact league administrator to have teams assigned</strong>
    <% else %>
        <strong>Coach <%= @coach.last_name %> Teams </strong %>
        <ul>
            <% @coach.teams.each do |t| %>
                <li><%= link_to "#{t.name}", team_path(t) %></li>
            <% end %>
        </ul>
    <% end %>
</div>

        