<h1>Coach <%= @coach.last_name %> Page</h1>


<div id="coach-contact-box">
    <strong>Coach <%= @coach.last_name %> Contact info</strong>
    <p id="coach-info-box">
        <%= @coach.name %><br>
        <%= @coach.email %><br>
        <%= @coach.phone_number %>
    </p>
</div><br>

<% if @coach.teams.empty? %>
    <strong>You Currently Don't Have Any Teams</strong><br>
    <strong>Please contact league administrator to have teams assigned</strong>
<% else %>
    <% @coach.teams.each do |t| %>
        <%= t.name %>
    <% end %>
<% end %>

