<div id="match-show-info">
    <% if @match.teams[0] != nil && @match.teams[1] != nil %>
        <h2><%= link_to "#{@match.teams[0].name}", team_path(@match.teams[0].id) %> vs <%= link_to "#{@match.teams[1].name}", team_path(@match.teams[1].id) %></h2>
    <% else %>
        <h2> Match Teams TBD </h2>    
    <% end %>    
        <p>
            <%= link_to "#{@match.competition.name}", competition_path(@match.competition) %><br>
            <%= @match.date %> <%= @match.time %><br>
            <%= link_to "#{@match.location.name}", location_path(@match.location) %><br>
            <%= @match.location.street_address %><br>
            <%= @match.location.city %><br>
            <%= @match.location.state %>
            <%= @match.location.zip_code %>
        </p>
   

    <p>
        <strong>Referee:</strong>
        <%= @match.referee.name %><br>
        <strong>Match Notes: </strong>
        <% if @match.referee.match_notes.empty? %>
            <strong>The Referee will add match notes. <br> Please contact league administrator if you have any questions</strong>
        <% else %>
            <% @match.referee.match_notes.each do |note| %>
                <%= note.content %>
            <% end %>
        <% end %>
    </p>
    <%= link_to "Back to Competition", competition_path(@match.competition_id) %>
</div>


