<div id="match-show-info">
    <% if @match.teams[0] != nil && @match.teams[1] != nil %>
        <h2><%= link_to "#{@match.teams[0].name}", team_path(@match.teams[0].id) %> vs <%= link_to "#{@match.teams[1].name}", team_path(@match.teams[1].id) %></h2>
    <% else %>
        <h2> Match Teams TBD </h2>    
    <% end %>    

    <div id="ref-info">
        
        <% if !@match.notes_exist? %>
            <strong>The Referee will add match notes. <br> Please contact league administrator if you have any questions</strong>
            <% if ref_logged_in? && belongs_to_ref(@match) %>
                <%= link_to "Add Match Notes", new_referee_match_match_note_path(@match.referee.id, @match) %><br> 
            <% end %>    
        <% else %>
            <% @match.referee.match_notes.each do |note| %>
                <h4><%= @match.result %>
                <h4>Referee: <%= @match.referee.name %><br></h4>
                <strong>Match Notes: </strong>
                <%= note.content %><br>
                <% if ref_logged_in? && @match.belongs_to_ref %>
                    <%= link_to "Edit Match Notes", edit_referee_match_match_note_path(@match.referee, @match, note) %><br>
                <% end %>
            <% end %>
        <% end %>
    </div>

        <p>
            <%= link_to "#{@match.competition.name}", competition_path(@match.competition) %><br>
            <%= @match.date %> <%= @match.time %><br>
            <%= render partial: "locations/location", locals: {location: @match.location} %>
        </p>
   

    
</div>

<% if ref_logged_in? %>
    <%= link_to "Homepage", referee_path(current_user.id) %><br>
<% elsif admin_logged_in? %>
    <%= link_to "Homepage", administrator_path(current_user.id) %><br>
<% elsif coach_logged_in? %>
    <%= link_to "Homepage", coach_path(current_user.id) %><br>
<% end %>

<%= link_to "Back to Competition", competition_path(@match.competition_id) %><br>
<%= link_to "Go to Seasons", seasons_path %>



