<div id="match-show-info">
    <% if @match.teams[0] != nil && @match.teams[1] != nil %>
        <h2><%= link_to "#{@match.teams[0].name}", team_path(@match.teams[0].id) %> vs <%= link_to "#{@match.teams[1].name}", team_path(@match.teams[1].id) %></h2>
    <% else %>
        <h2> Match Teams TBD </h2>    
    <% end %>    
        <p>
            <%= link_to "#{@match.competition.name}", competition_path(@match.competition) %><br>
            <%= @match.date %> <%= @match.time %><br>
            <%= render partial: "locations/location", locals: {location: @match.location} %>
        </p>
   

    <div id="ref-info">
        <strong>Referee:</strong>
        <%= @match.referee.name %><br>
        <strong>Match Notes: </strong>
        <% if @match.referee.match_notes.empty? %>
            <strong>The Referee will add match notes. <br> Please contact league administrator if you have any questions</strong>
        <% else %>
            <% @match.referee.match_notes.each do |note| %>
                <%= note.content %>
            <% end %>
        <% end %>
    </div>
    
    <% if ref_logged_in? && @match.referee.matches.include?(@match) %>
        <% if @match.referee.match_notes.empty? %>
            <%= link_to "Add Match Notes", new_referee_match_note_path(@match.referee) %><br>
        <% else %>
            <%= link_to "Edit Match Notes", edit_referee_match_note_path(@match.referee) %><br>
        <% end %>
    <% end %>
    <%= link_to "Back to Competition", competition_path(@match.competition_id) %>
</div>


