<h1>Create A New Admin Account</h1>

<% if @admin.errors.any? %>
  <div id="error_explanation"> 
    <ul>
    <% @admin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div><br>
<% end %>


<%= form_for(@admin) do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name %><br>
    <%= f.label "Email" %>
    <%= f.text_field :email %><br>
    <%= f.label "Password" %>
    <%= f.password_field :password %>
    <%= f.submit %>
<% end %>