<h1>Hello,  <%= @admin.first_name %></h1>
<div> 
    <h3>What Would you like to do? </h3>
        <ul>
            <li><%= link_to "Create A New Season?", new_season_path %></li>
            <li>"Create A New Competition?"</li>
            <li><%= link_to "Create A New Team?", new_team_path %></li>
            <li><%= link_to "Create A New Coach?", new_coach_path %></li>
            <li><%= link_to "Create A New Referee?", new_referee_path %></li>
            <li><%= link_to "Create A New Location?", new_location_path %></li>
            <li><%= link_to "Create A New Administrator?", new_administrator_path %></li>
        </ul>  </br>
</div>

<div id="teams-list">
    <h3>View teams:</h3>
    <% @teams.each do |t| %>
        <%= link_to "#{t.name}", team_path(t) %><br>
    <% end %>
</div>

<div id="coach-contacts">
    <h3>Coach Contact List:</h3>
        <% @coaches.each do |c| %>
            <% if c.id != 5 %>
                <%= link_to "#{c.name}", coach_path(c) %> - <%= c.email %> - <%= c.phone_number %><br>
            <% end %>
        <% end %>
</div><br>

<footer><%= link_to "Log Out", logout_path, method: "delete" %></footer>