<h1>Hello,  <%= @admin.first_name %></h1>
<p> 
    <h3>What Would you like to do? </h3>
        <ul>
            <li><%= link_to "Create A New Season?", new_season_path %></li>
            <li>"Create A New Competition?"</li>
            <li><%= link_to "Create A New Team?", new_team_path %></li>
            <li><%= link_to "Create A New Coach?", new_coach_path %></li>
            <li><%= link_to "Create A New Referee?", new_referee_path %></li>
            <li><%= link_to "Create A New Location?", new_location_path %></li>
            <li><%= link_to "Create A New Administrator?", new_administrator_path %></li>
        </ul>  