<h1>Hello,  <%= @admin.first_name %></h1>

<div class="col-2-wide">
    <div id="admin-coach-contact-box">
        <h3>Coach Contact List:</h3>
            <% @coaches.each do |c| %>
                <% if c.id != 5 %>
                    <%= link_to "#{c.name}", coach_path(c) %> - <%= c.email %> - <%= c.phone_number %> <br>
                <% end %>
            <% end %>
    </div><br>
</div>

<div class="col-2-wide">
    <div id="seasons-box">
                <h3> Seasons: </h3>
                <% @seasons.each do |s| %>
                    <%= link_to "#{s.year}", season_path(s) %><br>
                <% end %>
    </div><br><br>
</div>

<div class="col-1-narrow"
    <div id="teams-list-box">
        <h3>View teams:</h3>
        <uL>
            <% @teams.each do |t| %>
            <li><%= link_to "#{t.name}", team_path(t) %></li>
            <% end %>
        </ul>
    </div><br>

    <div id="options-box"> 
        <h3>Options:</h3>
            <ul>
                <li><%= link_to "Create A New Season", new_season_path %></li>
                <li><%= link_to "Add Competition to season", seasons_path %></li>
                <li><%= link_to "Create A New Team", new_team_path %></li>
                <li><%= link_to "Create A New Coach", new_coach_path %></li>
                <li><%= link_to "Create A New Referee", new_referee_path %></li>
                <li><%= link_to "Create A New Location", new_location_path %></li>
                <li><%= link_to "Create A New Administrator", new_administrator_path %></li>
            </ul>  </br>
    </div>
</div><br>








