<h1>Create a new Referee Account</h1>

<% if @ref.errors.any? %>
  <div id="error_explanation"> 
    <ul>
    <% @ref.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div><br>
<% end %>


<%= form_for(@ref) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <%= f.label :phone %>
    <%= f.text_field :phone %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.submit %>
<% end %>