<h1>Create a new location </h1>

<% if @location.errors.any? %>
  <div id="error_explanation"> 
    <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div><br>
<% end %>

<%= form_for(@location) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :street_address %>
    <%= f.text_field :street_address %><br>
    <%= f.label :city %>
    <%= f.text_field :city %><br>
    <%= f.label :state %>
    <%= f.text_field :state %><br>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
    <%= f.submit %>
<% end %>