<!DOCTYPE html>
<html>
  <head>
    <title>LeagueManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <header>
    <% if logged_in? %>
      <% if admin_logged_in? %>
        <%= link_to "Homepage", administrator_path(current_user.id) %>
      <% elsif ref_logged_in? %>
        <%= link_to "Homepage", referee_path(current_user.id) %>
      <% elsif coach_logged_in? %>
        <%= link_to "Homepage", coach_path(current_user.id) %>
      <% end %>
    <%= link_to "Log Out", logout_path, method: "delete" %></header>
    <% end %>
  </header>
  <% flash.each do |key, value| %>
    <div id="error_explanation">
      <div class="alert alert-<%= key %>"><%= value %></div>
    </div>
  <% end %>
    <%= yield %>
  </body>
  
</html>
